
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>info</h3>
<table class="table">
    <thead>
        <tr>
            <th>Mode id</th>
            <th>Mode name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>option</td>
            <td>hardcore enabled</td>
            <td>no shot meter. more enemies if enemies enabled. enemies are slightly faster. experience x 1.50</td>
        </tr>
        <tr>
            <td>option</td>
            <td>traffic enabled</td>
            <td>if level has traffic, traffic system will engage. players and enemies can be knocked down and take damage from vehicles. experience x 1.15</td>
        </tr>
        <tr>
            <td>option</td>
            <td>enemies enabled</td>
            <td>enemies will spawn on level to attack player. experience x 1.25 + (50 x minions killed) + (150 x boss killed)</td>
        </tr>
        <tr>
            <td>option</td>
            <td>sniper enabled</td>
            <td>a sniper will randomly take shots at player every 0-4 seconds. there is approximately a 0.4 delay from shot fired to player being hit. experience x 1.25</td>
        </tr>
        <tr>
            <td>experience gained compounds for all options</td>
        </tr>        
        <tr>
            <td>experience = (experience x 1.5) x 1.25</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Total Points</td>
            <td>Score as many points as you can in 3 minutes</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Total 3 pointers</td>
            <td>Make as many 3 pointers as you can in 3 minutes</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Total 4 pointers</td>
            <td>Make as many 4 pointers as you can in 3 minutes</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Total 7 pointers</td>
            <td>Make the most 7 pointers (100ft+) you can in 3 minutes</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Total Distance</td>
            <td>Get the highest total distance of all shots made you can</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Spot up some 3s</td>
            <td>Make 5 3s from each position marker</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Spot up some 4s</td>
            <td>Make 5 4s from each position marker</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Spot up All</td>
            <td>Make 5 shots from each position marker</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Moneyball 3s</td>
            <td>Make 5 shots from each position marker. Every $5, you can enable a moneyball that will clear a marker</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Moneyball 4s</td>
            <td>Make 5 shots from each position marker. Every $5, you can enable a moneyball that will clear a marker</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Moneyball All</td>
            <td>Make 5 shots from each position marker. Every $5, you can enable a moneyball that will clear a marker</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Consecutive shots</td>
            <td>most consecutive shots (at least 3 pointer) in 2 minutes. Time extended if on a streak</td>
        </tr>
        <tr>
            <td>15</td>
            <td>In the Pocket</td>
            <td>after 3 consecutive made add 1 point 3s, 2 points for 4s, 3 points for 7s</td>
        </tr>
        <tr>
            <td>16</td>
            <td>3 point Contest</td>
            <td>70 seconds to get a high score. Remaining time added as bonus points</td>
        </tr>
        <tr>
            <td>17</td>
            <td>4 point Contest</td>
            <td>75 seconds to get a high score. Remaining time added as bonus points</td>
        </tr>
        <tr>
            <td>18</td>
            <td>All point Contest</td>
            <td>140 seconds to get a high score.Remaining time added as bonus points</td>
        </tr>
        <tr>
            <td>19</td>
            <td>Points By Distance</td>
            <td>most points in 3 minutes. 1 point per 10ft of shot made</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Bash Up Some Nerds (fighting mode)</td>
            <td>bash up nerds until you die</td>
        </tr>
        <tr>
            <td>98</td>
            <td>Arcade</td>
            <td>Free play with max stats and no level progression</td>
        </tr>
        <tr>
            <td>98</td>
            <td>Free Play</td>
            <td>Free play with current stats and level progression</td>
        </tr>
    </tbody>
</table>
