@model mysql_scaffold_dbcontext_test.Models.Highscores

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Highscores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Userid" class="control-label"></label>
                <input asp-for="Userid" class="form-control" />
                <span asp-validation-for="Userid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modeid" class="control-label"></label>
                <input asp-for="Modeid" class="form-control" />
                <span asp-validation-for="Modeid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Characterid" class="control-label"></label>
                <input asp-for="Characterid" class="form-control" />
                <span asp-validation-for="Characterid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Levelid" class="control-label"></label>
                <input asp-for="Levelid" class="form-control" />
                <span asp-validation-for="Levelid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Character" class="control-label"></label>
                <input asp-for="Character" class="form-control" />
                <span asp-validation-for="Character" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Os" class="control-label"></label>
                <input asp-for="Os" class="form-control" />
                <span asp-validation-for="Os" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Version" class="control-label"></label>
                <input asp-for="Version" class="form-control" />
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPoints" class="control-label"></label>
                <input asp-for="TotalPoints" class="form-control" />
                <span asp-validation-for="TotalPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongestShot" class="control-label"></label>
                <input asp-for="LongestShot" class="form-control" />
                <span asp-validation-for="LongestShot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalDistance" class="control-label"></label>
                <input asp-for="TotalDistance" class="form-control" />
                <span asp-validation-for="TotalDistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxShotMade" class="control-label"></label>
                <input asp-for="MaxShotMade" class="form-control" />
                <span asp-validation-for="MaxShotMade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxShotAtt" class="control-label"></label>
                <input asp-for="MaxShotAtt" class="form-control" />
                <span asp-validation-for="MaxShotAtt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsecutiveShots" class="control-label"></label>
                <input asp-for="ConsecutiveShots" class="form-control" />
                <span asp-validation-for="ConsecutiveShots" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrafficEnabled" class="control-label"></label>
                <input asp-for="TrafficEnabled" class="form-control" />
                <span asp-validation-for="TrafficEnabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HardcoreEnabled" class="control-label"></label>
                <input asp-for="HardcoreEnabled" class="form-control" />
                <span asp-validation-for="HardcoreEnabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnemiesKilled" class="control-label"></label>
                <input asp-for="EnemiesKilled" class="form-control" />
                <span asp-validation-for="EnemiesKilled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Platform" class="control-label"></label>
                <input asp-for="Platform" class="form-control" />
                <span asp-validation-for="Platform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Device" class="control-label"></label>
                <input asp-for="Device" class="form-control" />
                <span asp-validation-for="Device" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ipaddress" class="control-label"></label>
                <input asp-for="Ipaddress" class="form-control" />
                <span asp-validation-for="Ipaddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scoreid" class="control-label"></label>
                <input asp-for="Scoreid" class="form-control" />
                <span asp-validation-for="Scoreid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TwoMade" class="control-label"></label>
                <input asp-for="TwoMade" class="form-control" />
                <span asp-validation-for="TwoMade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TwoAtt" class="control-label"></label>
                <input asp-for="TwoAtt" class="form-control" />
                <span asp-validation-for="TwoAtt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThreeMade" class="control-label"></label>
                <input asp-for="ThreeMade" class="form-control" />
                <span asp-validation-for="ThreeMade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThreeAtt" class="control-label"></label>
                <input asp-for="ThreeAtt" class="form-control" />
                <span asp-validation-for="ThreeAtt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FourMade" class="control-label"></label>
                <input asp-for="FourMade" class="form-control" />
                <span asp-validation-for="FourMade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FourAtt" class="control-label"></label>
                <input asp-for="FourAtt" class="form-control" />
                <span asp-validation-for="FourAtt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SevenMade" class="control-label"></label>
                <input asp-for="SevenMade" class="form-control" />
                <span asp-validation-for="SevenMade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SevenAtt" class="control-label"></label>
                <input asp-for="SevenAtt" class="form-control" />
                <span asp-validation-for="SevenAtt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
