@{
    ViewData["Title"] = "Links";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Links</h3>
    <p></p>
    <a href="mailto:levelfivegame@gmail.com">levelfivegame@gmail.com</a>
    <p></p>
    <a href="https://drive.google.com/drive/folders/1mtJB3cGtrxTduKGq2h0uYVoLvg4JL6gV?usp=sharing">Google Drive with occasional Dev releases</a>
    <p></p>
    <a href="https://www.youtube.com/channel/UCWxpjSberJeu0n2wgsCuvNQ">Level 5 youtube</a>
    <p></p>
    <a href="https://skeleton-district.itch.io/level-5">Level 5 download for pc/mac os/linux/android on Itch.io</a>
    <p></p>
    <a href="https://play.google.com/store/apps/details?id=com.level5.level5">Level 5 download for android on Play Store</a>
</div>
<br>