
@{
    ViewData["Title"] = "Builds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>builds</h3>
    <p></p><p></p>
    <h6>mac</h6>
    <a href="https://elasticbeanstalk-us-east-2-638237459356.s3.us-east-2.amazonaws.com/builds/level5_v3.3.5.3_macosx.zip">level5_v3.3.5.3_macosx.zip</a>
    <p></p>
    <h8>mac osx install</h8>
    <p></p>
    <a href="https://www.youtube.com/watch?v=i9TtoOJjGpU">do what's in this video</a>
    <p></p>
    <a href="https://www.youtube.com/watch?v=JMyyNg0nxs8">then do what's in this video</a>
    <p></p>
    <p></p>
    <h6>windows</h6>
    <a href="https://elasticbeanstalk-us-east-2-638237459356.s3.us-east-2.amazonaws.com/builds/level5_v3.3.5.3_windows_x86_64.exe">level5_v3.3.5.3_windows_x86_64.exe</a>
    <h8> [self extracting installer]</h8>
    <p></p>
    <a href="https://elasticbeanstalk-us-east-2-638237459356.s3.us-east-2.amazonaws.com/builds/level5_v3.3.5.3_windows_x86_64.zip">level5_v3.3.5.3_windows_x86_64.zip</a>
    <p></p>
    <h6>android</h6>
    <a href="https://elasticbeanstalk-us-east-2-638237459356.s3.us-east-2.amazonaws.com/builds/level5_v3.3.5.3_arm7_arm64.apk">level5_v3.3.5.3_ARM7_ARM64.apk</a>
    <h8> [debug build]</h8>
    <p></p>
    <h8>
        For release version, get it here on the Google Play store -->
        <a href="https://play.google.com/store/apps/details?id=com.level5.level5"> Level5 on Google Play </a>
    </h8>
</div>
<br>