
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<br>
<div>
    what up. this is the home page. not much here
    still heavily under construction
</div>
<br>
<div>
    if you wanna kickin a few bucks for server costs or just think the game is cool
</div>
<br>
<a href="https://www.paypal.com/paypalme/pcharlez">Paypal</a>
<br>
<br>
<a href="https://cash.app/$skeletondistrict">Cash App</a>
<br>
<br>
<div>
    <b>Bitcoin</b>
    <br>
    3Dknn5XyHd1uNjZqHiab4MQccmbpQyqaNh
</div>
<br>
<div>
    <b>Ethereum</b>
    <br>
    0x210D38C916Ce250832cc0857182CC6AD1Ea5a94a
</div>
<br>



