@model IEnumerable<mysql_scaffold_dbcontext_test.Models.Users>

@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>users</h3>
<br/>
<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            @if (item.IsDev == 1)
            {
                <td> dev </td>
            }
        </tr>
        }
    </tbody>
</table>
