
@{
    ViewData["Title"] = "Builds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h6>dev builds</h6>
    <p></p><p></p>
    <h6>mac</h6>
    <a href="https://elasticbeanstalk-us-east-2-638237459356.s3.us-east-2.amazonaws.com/builds/level5_v3.3.5.3_dev_mac_osx.zip">level5_v3.3.5.3_dev_mac_osx.zip</a>
    <p></p>
    <h8>mac osx install</h8>
    <p></p>
    <a href="https://www.youtube.com/watch?v=i9TtoOJjGpU&fbclid=IwAR2cqtdcpHpLMJI7ZDia7qLRdHjA3CnyVRErktEdLuZxs-sdhKRBgHyqMEA">do what's in this video</a>
    <p></p>
    <a href="https://www.youtube.com/watch?v=i9TtoOJjGpU&fbclid=IwAR2cqtdcpHpLMJI7ZDia7qLRdHjA3CnyVRErktEdLuZxs-sdhKRBgHyqMEA">then do what's in this video</a>
    <p></p>
    <p></p>
    <h6>windows</h6>
    <a href="https://elasticbeanstalk-us-east-2-638237459356.s3.us-east-2.amazonaws.com/builds/level5_v3.3.5.3_dev_windows_x86_64.exe">level5_v3.3.5.3_dev_windows_x86_64.exe</a>
    <p></p>
    <a href="https://elasticbeanstalk-us-east-2-638237459356.s3.us-east-2.amazonaws.com/builds/level5_v3.3.5.3_dev_windows_x86_64.zip">level5_v3.3.5.3_dev_windows_x86_64.zip</a>
    <p></p>
    <h6>android</h6>
    <a href="https://elasticbeanstalk-us-east-2-638237459356.s3.us-east-2.amazonaws.com/builds/level5_v3.3.5.3_dev_arm7_arm64.apk">level5_v3.3.5.3_DEV_ARM7_ARM64.apk</a>
    <p></p>
</div>
<br>